# ===== Build outputs (STM32 / Eclipse) =====
**/Debug/
**/Release/

# Object and binary files
*.o
*.a
*.elf
*.map
*.list
*.su
*.d
*.cyclo

# Eclipse / STM32CubeIDE
.metadata/
.settings/
.cproject
*.launch
*.cfg


# OS / editor junk
.DS_Store
Thumbs.db
